

{% extends "base.html" %}

{% block content %}
<h3 xmlns:>Hello, {{ current_user.userName }}, choose the songs you like</h3>
 <form action="" method="post">
     {% for song in songs %}

        <div style="display:inline;float:left;width:auto;" <p>{{ song.songName }} </p><br>

        <iframe width="220" height="215"
        src="https://www.youtube.com/embed/{{ song.youtubeUrl }}" >
         </iframe>

        <input type="checkbox" name="song" class="songs" value={{ song.youtubeUrl }}>
        </div>
        {% endfor %}

    <br><input type="submit" value="Create playlist">
     </form>
{% endblock %}